@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    position: relative;
}

header {
    position: relative;
    width: 100%;
    height: 730px;
    background-image: url("../img/Rectangle.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}

header nav a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #44FFA1;
    font-weight: bold;
    font-size: 18px;
    font-family: "Manrope";

}

header nav a:hover{
    color: #44FFA1;
}




header nav img {
    z-index: 3;
    width: 95px;
    height: 25px;
    display: block;
}

.header-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 3.5rem;
}

header .header-container h1 {
    color: white;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    text-align: center;
    font-family: "Fraunces";
}

header .header-container h1 span {
    border-bottom: 1px solid #44FFA1;
}

.header-container button {
    margin-bottom: 2rem;
    font-family: "Manrope";
}




header .header-img1 {
    position: absolute;
    left: 0;
    top: 15%;
}

header .header-img2 {
    position: absolute;
    right: -2%;
    top: 45%;
    overflow: hidden;
}

header .header-img3{
    position: absolute;
    display: none;
}

.img-cell{
    position: absolute;
    top: 22%;
    left: 30%;
    width: 600px;
}

.btn-green {
    background-color: #44FFA1;
    color: #24053E;
    padding: 0.7rem 1.5rem;
    border: none;
}

.btn-green:hover{
    background-color: transparent;
    border: 1px solid #44FFA1 ;
    color: #44FFA1;
}

.three-circles {
    margin-top: 13rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    color: #24053E;
    margin-bottom: 10rem;
}

.three-circles .circle-item {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.circle-item .circle-description h1 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-family: "Fraunces";
}

.circle-item .circle-description p {
    max-width: 300px;
    font-family: "Manrope";
}

.three-circles .circle-item .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
}

.info {
    position: relative;
}

.info-img img {
    width: 477px;
    margin-left: 20rem;
}

.info-description {
    position: absolute;
    width: 450px;
    height: auto;
    padding: 5rem;
    background-color: #24053E;
    color: white;
    top: 40%;
    left: 45%;
}

.info-description h1 {
    font-size: 1.8rem;
    font-family: "Fraunces";
}

.info-description p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: "Manrope";
}
.info-description button{
    font-family: "Manrope";
}

.info-description img {
    position: absolute;
    left: 55%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

footer .logo {
    margin-bottom: 2.5rem;
}

footer .icons {
    margin-bottom: 2rem;
}

footer .icons img:not(:last-child) {
    margin-right: 0.8rem;
}

/* media para n ficar ruim quando diminuir para o tablet */

@media screen and (max-width: 1270px) {
    .header-img2 {
        display: none;
    }

    .header-img1 {
        display: none;
    }

    header .header-container h1 {
        margin-bottom: 3rem;
        margin-top: 5rem;
    }


    .three-circles{
        flex-direction: column;
        align-items: center;
    }

    .three-circles .circle-item{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 1160px){
    .info-img img{
        margin-left: 7rem;
    }

    .info-description{
        top: 56%;
        left: 36%;
    }
}

/* media para o tablet */
@media screen and (max-width: 1024px) {



    header .header-container h1 {
        margin-bottom: 2.5rem;
        margin-top: 1rem;
    }

    header .header-img1 {
        display: none;
    }

    header .header-img2 {
        display: block;
        top: 35%;
        right: -9%;

    }

    header .header-img3{
        display: block;
        top: 10%;
    }


    .img-cell{
        left: 18vw;
        width: 70%;
    }

    .three-circles{
        flex-direction: column;
        align-items: center;
    }

    .three-circles .circle-item{
        display: flex;
        flex-direction: row;
        max-width: 800px;
        text-align: left;
    }

    .circle-item .circle{
        margin-right: 2rem;
    }


    .circle-item .circle-description h1{
        margin-bottom: 1.5rem;
    }

    .circle-item .circle-description p{
        max-width: 700px;
    }


    .info-img img{
        width: 281px;
        margin-left: 4rem;
    }

    .info-description{
        top:58%;
        left: 23%;
    }

    footer{
        margin-top: 20rem;
    }

    footer .icons img:not(:last-child) {
        margin-right: 1.3rem;
    }


}

@media screen and (max-width: 850px){
    .img-cell{
        width: 550px;
        left: 15%;
        top:25%
    }
}

@media screen and (max-width: 768px){

    .header-container{
        max-width: 350px;
    }


    header .header-container h1 {
        margin-bottom: 2.5rem;
        margin-top: 6rem;
    }


    header .header-img1 {
        display: none;
    }

    header .header-img2 {
        display: none;
        

    }

    header .header-img3{
        display: none;
    }


    .img-cell{
        left: 15vw;
        top: 20%;
    }

    .three-circles .circle-item{
        flex-direction: column;
        max-width: 300px;
        text-align: center;
    }

    .circle-item .circle{
        margin-bottom: 2rem;
    }

    .circle-item .circle:not(first-child){
        margin-top: 1.5rem;
    }
    .info{
        margin-left: 10%;
    }

    .info-img img{
        margin-left: 17%;
    }

    .info-img1{
        display: none;
    }

    .info-description{
        top: 83%;
        left: 2%;
        width: 72%;
        padding: 3rem;
        text-align: center;

    }

}

@media screen and (max-width: 660px){

    .img-cell{
        width: 80%;
        left: 15vw;
    }

}

@media screen and (max-width: 550px){

    .img-cell{
        width: 80%;
        left: 15vw;
        top: 21%;
    }

}


@media screen and (max-width: 470px){

    header nav{
        padding: 0.5rem 1rem;
    }


    .img-cell{
        width: 80%;
        left: 15vw;
        top: 23%;
    }

    .info-img img{
        margin-left: 3%;
    }

    .info-description{
        padding: 2rem;
        left: 0%;
    }

    footer{
        margin-top: 23rem;
    }


}

